numpy>=1.26.4; python_version>='3.9'
numpy==1.24.4; python_version<'3.9'
jax>=0.4.25; python_version>='3.9'
jax==0.4.13; python_version<'3.9'
jaxlib>=0.4.25; python_version>='3.9'
jaxlib==0.4.13; python_version<'3.9'
chex>=0.1.85; python_version>='3.9'
chex==0.1.7; python_version<'3.9'
healpy>=1.16.6; python_version>='3.9'
healpy==1.16.2; python_version<'3.9'
typing_extensions==4.10.0; python_version=='3.11'